body {
    background: url('../img/backgrounds/wallpaper1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fluxElementDark1 {
    background-color: rgba(0,0,0,0.75);
}

.fluxElementDark2 {
    background-color: rgba(0,0,0,0.15);
}

.wallpaper1 {
    background: url('../img/backgrounds/background.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.wallpaper2 {
    background: url('../img/backgrounds/wallpaper_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}